
footer a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #FFFDF7;
    font-size: 1rem;


}

footer a:hover {
    font-size: 1rem;
    color:#FFFDF7;
  }

footer p{
    font-family: 'Montserrat', sans-serif;
    color: #FFFDF7;
    font-size: 1.4rem;

}

footer #fondoLogo{
    background-color: #FFFDF7;
  }
  
footer .redes{
    background-color: rgb(148, 211, 248);
    color: white;
    padding: 20px;
    font-size: 30px;
  }
  
#footer{
    background-color: #090F46;
    color: white;
}

@media (min-width:1199px) {
    #search{
        position: absolute;
        width: 400px;
        left: 800px;
    } 
}

@media (min-width:1600px) {
    #search{
        position: absolute;
        width: 400px;
        left: 1450px;
    } 
}

@media (max-width:480px){
    #logosPagos{
        width: 4rem;
        height: 2rem;
    }

    #search{
        width: 350px;
    } 
}

@media (min-width:481px){
    #logosPagos{
        width: 6rem;
        height: 3rem;
    }
}

@media (min-width:768px){
    #logosPagos{
        width: 10rem;
        height: 5rem;
    }

    #search{
        position: absolute;
        width: 400px;
    }  
}

@media (max-width:991px) {
    #mobileIcon{
        visibility: hidden;
    }
}